<%
=begin%>
 

<body  data-controller = "product">


<section class="home-index" id="home">

    <div class="content">
        
 
    <%= link_to "View more", product_index_path, :method => :get,  class:"btn-index index-anch" %> 

    </div>

</section>

 
<%
=end%>
