
<div data-controller="product">
 <div class=" d-flex justify-content-center align-items-center" style="margin-top: 130px;">
            
        </div>
<section class="featured" id="featured" >


    <div class="row"  data-product-target="productGallery">
      
    </div>

</section>
</div>

