<%
=begin%>
 


<div class="container-search" data-controller = "search" >
<!-- --------------------------------arrival section starts ------------------------------- -->
      <div class=" d-flex justify-content-center align-items-center" style="margin-top: 130px;">
            <div class="col-md-6">
                <div class="form-search">
                  <i class="fa fa-search"></i>
                  <input type="text" class="form-control form-input" placeholder="Search anything..." data-action="input->search#search_box" data-search-target="searchText" >
                </div>    
            </div> 
        </div>


    <section class="featured" id="featured" >

        <h1 class="heading"> <span>Search</span> Results </h1>

        <div class="row"  data-search-target="serachData">
        
        </div>


        <div class="alert alert-success" role="alert" data-search-target="searchError">
            <h4 class="alert-heading">Product Search Column!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
    
    </section>
</div>
 
<%
=end%>
